/* raleway-700 - latin */
/* raleway-700 - vietnamese_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v28-vietnamese_latin_cyrillic-ext_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-vietnamese_latin_cyrillic-ext_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-vietnamese_latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v28-vietnamese_latin_cyrillic-ext_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v28-vietnamese_latin_cyrillic-ext_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v28-vietnamese_latin_cyrillic-ext_cyrillic-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}
body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

textarea {
  resize: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
  text-align: center;
  border: 1px solid transparent;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

@media (max-width: 767px) {
  .page-header__container {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .page-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .page-header__container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* site navigation */
.nav-list {
  display: none;
}
@media (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #212121;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    margin-left: 88px;
    gap: 50px;
  }
}
@media (min-width: 1200px) {
  .nav-list {
    margin-left: 93px;
    gap: 52;
  }
}

.nav-list__item {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: #2196f3;
}

.nav-list__link--current {
  color: #2196f3;
}

.nav-list__link--current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background-color: #2196f3;
  border-radius: 2px;
}

/* button-menu */
/* site information */
.info-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .info-list {
    display: block;
    font-size: 12px;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .info-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 768px) {
  .info-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .info-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.info-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info-list__link:hover, .info-list__link:focus {
  color: #2196f3;
}

.info-list__icon {
  fill: currentColor;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info-list__icon:hover, .info-list__icon:focus {
  fill: #2196f3;
}

.logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.38;
}
@media (min-width: 768px) {
  .logo {
    line-height: 1.17;
  }
}
@media (min-width: 1200px) {
  .logo {
    line-height: 1.19;
  }
}

.page-header__logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.38;
}
@media (min-width: 768px) {
  .page-header__logo {
    line-height: 1.17;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    line-height: 1.19;
  }
}

.page-footer__logo {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.38;
}
@media (min-width: 1200px) {
  .page-footer__logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
@media (max-width: 1199px) {
  .page-footer__logo {
    text-align: center;
  }
}

.section-hero {
  text-align: center;
  padding: 0;
}

.section-hero__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile/overlay-mob.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/overlay-mob.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 118px 0;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .section-hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile/overlay-mob@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/overlay-mob@2x.jpg);
  }
}

@media (min-width: 768px) {
  .section-hero__overlay {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile/overlay-tab.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/overlay-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile/overlay-tab@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/overlay-tab@2x.jpg);
  }
}

@media (min-width: 1200px) {
  .section-hero__overlay {
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile/overlay-desk.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/overlay-desk.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile/overlay-desk@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/overlay-desk@2x.jpg);
    max-width: 1600px;
    padding: 200px 0;
  }
}

.section-hero__title {
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .section-hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.363;
  }
}

.section-hero__button {
  font-weight: 700;
  padding: 0 0;
  font-size: 16px;
  line-height: 1.875;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-hero__button:hover, .section-hero__button:focus {
  color: #ffffff;
  background-color: #188ce8;
}
@media (min-width: 1200px) {
  .section-hero__button {
    width: 216px;
  }
}

.section-benefits {
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .section-benefits {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section-benefits__container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 768px) {
  .section-benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media (min-width: 1200px) {
  .section-benefits__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .section-benefits__item {
    width: calc((100% - 30px) / 2);
  }
}
@media (max-width: 767px) {
  .section-benefits__item {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .section-benefits__item:last-child {
    margin-bottom: 0px;
  }
}

.section-benefits__img {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.section-benefits__icon {
  width: 70px;
  height: 70px;
}

.section-benefits__text {
  color: #757575;
  line-height: 1.71;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: justify;
}

.section-benefits__title {
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 10px;
  margin-top: 30px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section-benefits__title {
    line-height: 1.14;
  }
}

.section-activities {
  background-color: #ffffff;
}
@media screen and (min-width: 480px) {
  .section-activities {
    display: none;
  }
}
@media (min-width: 1200px) {
  .section-activities {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section-activities__title {
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  text-align: center;
}

.section-activities__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.section-activities__img {
  position: relative;
  width: 370px;
}

.section-activities__action {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  right: 0;
}

.section-activities__text {
  color: #ffffff;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
}

.section-team {
  color: #212121;
  background-color: #F5F4FA;
  text-align: center;
}
@media (max-width: 1119px) {
  .section-team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-team__title {
  font-size: 28px;
  line-height: 1.17;
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .section-team__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.section-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.section-team__item {
  background-color: #ffffff;
  width: 100%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media (min-width: 768px) {
  .section-team__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media (min-width: 1200px) {
  .section-team__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.section-team__img {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  margin-bottom: 10px;
}

.section-team__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  gap: 10px;
  border-radius: 50%;
  padding-left: 122px;
}
@media (min-width: 768px) {
  .social-list {
    padding-left: 74px;
  }
}
@media (min-width: 1200px) {
  .social-list {
    padding-left: 32px;
  }
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #AFB1B8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.social-list__item {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--secondary-title-color);
}

.section-customers {
  background-color: #ffffff;
  padding: 60px 0;
}
@media (min-width: 1200px) {
  .section-customers {
    padding: 94px 0;
  }
}

.section-customers__title {
  font-size: 28px;
  line-height: 1.17;
  margin-bottom: 30px;
  text-align: center;
}
@media (min-width: 1200px) {
  .section-customers__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.section-customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .section-customers__list {
    padding: 0px;
    margin: 0px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.section-customers__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media (min-width: 768px) {
  .section-customers__item {
    width: calc((100% - 60px) / 3);
    height: 92px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .section-customers__item {
    width: calc((100% - 150px) / 6);
  }
}

.section-customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  border: none;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  padding: 16px 52px;
}
.section-customers__link:hover, .section-customers__link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}
@media (min-width: 1200px) {
  .section-customers__link {
    padding: 16px 32px;
  }
}

.section-customers__icon {
  width: 106px;
  height: 60px;
}

.page-footer {
  background-color: #2F303A;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #ffffff;
}

@media (min-width: 1200px) {
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 768px) {
  .page-footer__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .page-footer__tablet {
    margin-bottom: 0;
  }
}

.page-footer__contacts {
  text-align: center;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .page-footer__contacts {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .page-footer__contacts {
    text-align: left;
  }
}

@media (max-width: 1199px) {
  .page-footer__contacts:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media (min-width: 1200px) {
  .page-footer__contacts:not(:last-child) {
    margin-bottom: 9px;
  }
}

.page-footer__address {
  font-style: normal;
  color: #ffffff;
  margin-top: 20px;
}

.page-footer__mail {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer__mail:hover, .page-footer__mail:focus {
  color: #2196f3;
}

.page-footer__phone {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer__phone:hover, .page-footer__phone:focus {
  color: #2196f3;
}

/* page-footer__subscription */
.subscription {
  margin-bottom: 60px;
}
@media (max-width: 1199px) {
  .subscription {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .subscription {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .subscription {
    margin-left: 70px;
  }
}

.subscription__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: start;
  text-transform: uppercase;
  color: inherit;
  color: #ffffff;
  margin-bottom: 20px;
  display: block;
}
@media (max-width: 1199px) {
  .subscription__title {
    text-align: center;
  }
}

.subscription__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 10px;
}
@media (min-width: 1200px) {
  .subscription__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
}

.subscription__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription__link:hover, .subscription__link:focus {
  background-color: #2196f3;
}

/*page-footer__join */
@media (max-width: 1199px) {
  .join {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .join {
    margin-left: 93px;
  }
}

.join__title {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

@media (min-width: 480px) {
  .join__form {
    display: block;
  }
}
@media (min-width: 1200px) {
  .join__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
  }
}

.join__input {
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--color-background-2);
  padding-left: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.join__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.join__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.join__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.join__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.join__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
@media (min-width: 480px) {
  .join__input {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .join__input {
    width: 450px;
  }
}
@media (min-width: 1200px) {
  .join__input {
    width: 358px;
  }
}

.join__button {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  padding: 0 0;
  font-size: 16px;
  line-height: 1.875;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 1200px) {
  .join__button {
    margin-left: 12px;
  }
}

.join__button:hover, .join__button:focus {
  background-color: #188ce8;
}

.join__icon {
  display: block;
  margin-left: 10px;
}
@media (min-width: 480px) {
  .join__icon {
    margin-left: 12px;
  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  max-width: 450px;
  width: calc(100% - 30px);
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal__active {
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .modal__active {
    padding: 40px 39px 40px 41px;
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal__form {
  position: relative;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal__form:nth-last-child(-n+4) {
  margin-bottom: 20px;
}

.modal__label {
  margin-bottom: 4px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01;
  color: #757575;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon--close {
  left: 8px;
}
.modal__input:focus + .modal__icon {
  fill: #2196f3;
}

.modal__input {
  width: 100%;
  padding: 11px 11px 11px 35px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border: 1px solid #2196f3;
}
.modal__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 16px;
}
.modal__input::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 16px;
}
.modal__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 16px;
}
.modal__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 16px;
}
.modal__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 16px;
}

.modal__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background: #ffffff;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 16px;
  resize: none;
}
.modal__textarea:focus {
  border: 1px solid #2196f3;
}

.modal__button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 0 85px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 1200px) {
  .modal__button {
    margin: 0 124px;
  }
}

.modal__button:hover, .modal__button:focus {
  background-color: #188CE8;
}

.button__close--modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.button__close--modal:focus .modal__icon--close {
  fill: #2196f3;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: inline-flex;
          flex-direction: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 31px;
}
@media (min-width: 1200px) {
  .checkbox {
    margin-bottom: 30px;
  }
}

.checkbox__input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.checkbox__border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  fill: transparent;
  border-radius: 4px;
  border: 2px solid #212121;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked + .checkbox__border {
  background-color: #2196f3;
  border-color: #2196f3;
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 12px;
}
@media (min-width: 1200px) {
  .checkbox__label {
    font-size: 14px;
  }
}

.checkbox__contract {
  margin-left: 4px;
  color: #2196f3;
  text-decoration: underline;
}

.portfolio-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}
.portfolio-services:first-child {
  margin-left: 0px;
}

.portfolio-services__item {
  margin-right: 8px;
}
.portfolio-services__item:last-child {
  margin-right: 0px;
}

.portfolio-services__button {
  color: #212121;
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-services__button:hover, .portfolio-services__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* portfolio-img / portfolio */
.portfolio-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-img__item {
  background-color: #ffffff;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-img__item:nth-child(3n) {
  margin-right: 0px;
}
.portfolio-img__item:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.portfolio-img__card:hover,
.portfolio-img__card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-img__action {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.portfolio-img__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img__text {
  padding: 60px 24px;
  font-weight: 400;
  -ms-flex-line-pack: center;
      align-content: center;
  font-style: normal;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

.portfolio-img__card:hover .portfolio-img__description,
.portfolio-img__card:focus .portfolio-img__description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-img__details {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: 0px;
}

.portfolio-img__title {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-img__name {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  overflow: auto;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 479px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu__container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 48px 40px;
}

.mobile-menu__menu-navigation {
  margin-bottom: auto;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__menu-link {
  display: block;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

.mobile-menu__menu-link--current {
  color: #2196f3;
}

.mobile-menu__info-list {
  margin-bottom: 64px;
}

.info-list__link {
  text-decoration: none;
  font-family: inherit;
  color: #757575;
  display: block;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.info-list__link--tel {
  font-weight: 500;
  font-size: 34px;
  color: #2196f3;
  margin-bottom: 30px;
}

.info-list__link--mail {
  font-weight: 500;
  font-size: 24px;
  color: #757575;
  margin-bottom: 30px;
}

.mobile-menu__button-close:hover, .mobile-menu__info-list:focus {
  color: #2196f3;
}

.navigation-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  padding: 0 0;
  color: #212121;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .navigation-button {
    display: none;
  }
}

.mobile-menu .navigation-button {
  top: 10px;
  right: 15px;
  position: absolute;
  color: currentColor;
}

.navigation-button:hover,
.navigation-button:focus {
  background-color: #188ce8;
  fill: #188ce8;
}

.mobile-menu__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-menu__socials--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-menu__socials--links {
  display: block;
  font-weight: 500;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  text-align: start;
  text-transform: none;
  color: #2196f3;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__socials--line {
  width: 22px;
  height: 0;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}/*# sourceMappingURL=main.css.map */