.section-benefits {
    background-color: $secondary-title-color;
padding-top: 60px;
padding-bottom: 60px;
@media (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 0;
    
}}



.section-benefits__container {
  

            @media screen and (min-width: 1200px) {
                width: 1200px;

                    margin-left: auto;
                    margin-right: auto;
                    padding-left: 15px;
                    padding-right: 15px;
            }
   
}

.section-benefits__list {

    @media (min-width: 768px) {
     display: flex;
     flex-wrap: wrap;
     gap: 30px;};
     @media (min-width: 1200px) {
        flex-wrap: nowrap;
        display: flex;
     };
    

}

.section-benefits__item {
    
   
                 @media (min-width: 768px) {
                     width: calc((100% - 30px) / 2);
                     
                 };
                                   @media (max-width: 767px) {
                                       margin-bottom: 30px;
                
                                   }
                }
.section-benefits__item:last-child  {
    @media (max-width: 767px) {
            margin-bottom: 0px;
    }
}               




.section-benefits__img {
    padding-top: 25px;
        padding-bottom: 25px;
        margin-bottom: 30px;
        text-align: center;
        background-color: #f5f4fa;
        border-radius: 4px;
    }


.section-benefits__icon {
width: 70px;
height: 70px;
}


.section-benefits__text {
    color: $primary-text-color;
    line-height: 1.71;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: justify;
}

.section-benefits__title {

    text-transform: uppercase;
        font-size: 14px;
        padding-bottom: 10px;
        margin-top: 30px;

   
            line-height: 1.17; 
            text-align: center;
       

    @media screen and (min-width: 1200px) {
            line-height: 1.14;
                
        };
    

}
