

.mobile__backdrop {
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .2);
    
    transition: opacity var(--color-hover-animation), visibility var(--color-hover-animation);
}

.mobile__modal {
    position: absolute;
    top: 0;
    left: 0;
    padding: 48px 40px;
    height: 100%;
    width: 100%;
    transform: translate(100%);
    z-index: 999;
    background-color: var(--color-white-color);
   
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    
    transition: transform var(--color-hover-animation);
    transition: transform var(--color-hover-animation), -webkit-transform var(--color-hover-animation);
    overflow-y: auto;
}

.mobile__button-close {
        position: absolute;
            top: 10px;
            right: 15px;

            display: flex;
           
            align-items: center;

            justify-content: center;
            
        }

.mobile__menu-navigation {
    margin-bottom: 306px;
}

.mobile__menu-link {
    display: block;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: .02em;
    text-decoration: none;
    color: var(--color-primary);
}
.mobil__menu-link--current {
    color: $accent-color;
}






.navigation-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0 0;
    color: #000;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    border: none;
    outline: none;
    transition-property: color;
    transition-duration: 250ms;
    margin-right: 284px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @media (min-width:768px) {
        display: none;
        
    }
}


.navigation__button:hover,
.navigation__button:focus {
    fill: #2196f3;
    color: #2196f3;
}