.portfolio-services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;


    &:first-child {
         margin-left: 0px;
}}


.portfolio-services__item {
    margin-right: 8px;

    &:last-child {
            margin-right: 0px;}
}



.portfolio-services__button {
    color: $primary-title-text-color;
    background-color: $background-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    padding: 6px 22px;
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover, &:focus {
                color: $secondary-title-color;
                background-color: $accent-color;
                box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            }
}


