$primary-title-text-color: #212121;
$secondary-title-color: #ffffff;
$primary-text-color: #757575;
$accent-color: #2196f3;
$mail-phone-color: rgba(255, 255, 255, 0.6);
$background-black-color: #2F303A;
$icon-border-color: #AFB1B8;
$background-color: #F5F4FA;
$mobile-modal-background: #F5F5F5



